graphviz==0.8.4
helpers==0.2.0
huggingface-hub==0.17.2
idna==3.4
imageio==2.26.0
imgaug==0.4.0
numpy==1.23.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.72
pandas==2.0.1
Pillow==9.4.0
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.9.1
shapely==2.0.1
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.65.0
transformers==4.33.2
